<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../accets/styles/login.css">

</head>
<body>
    <div class="loginPopup">
        <div class="loginrow1">
            <span class="lettext">Вход в личный кабинет            </span><br>
            <hr class="hrlogin">
            <input onkeyup="this.value = this.value.replace(/[^\d]/g,'')" maxlength="10" class="loginTel" value="+380" type="tel">
            <button class="loginButton">Далее</button>
            <span class="loginTo">-------   или с помощью   -------</span>
            <button class="googleInput" ><img src="../accets/image/login/Без названия.png" alt=""></button>
        </div>
        <div class="loginrow2">
            <img src="../accets/image/login/Новый точечный рисунок.bmp" alt="">
            <div class="glaw">
                <div class="logintext1">
                    <h1 class="loginh1s">Магазины работают!</h1>
                    <span class="loginspans">Покупай безопасно, все <br> санитарные меры <br> соблюдены</span>
                </div>
                <div class="logintext2">
                    <h1 class="loginh1s">Покупай в магазинах</h1>
                    <span class="loginspans">Все остальное заказывай на  <br> foxtrot.ua</span>
                </div>
                <div class="logintext3">
                    <h1 class="loginh1s">Кредитование</h1>
                    <span class="loginspans">Удобно оформляй оплату <br>  частями или рассрочку</span>
                </div>
                <div class="logintext4">
                    <h1 class="loginh1s">Получай быстро и удобно</h1>
                    <span class="loginspans">Работает Фокстрот-доставка <br>  и Фоксаж-самовывоз</span>
                </div>
            </div>

        </div>
    </div>
</body>
</html>